<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="stylesheets/styles.css" type="text/css" />
        <script src="https://use.fontawesome.com/9b4ef5087f.js"></script>

    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                    <a class="navbar-brand" href="#"><i class="fa fa-train fa-2x"></i><em> RaiLocate</em></a>
        </nav>
    </div>
    
<div class="container boardMessages">
        <% if(error && error.length > 0) { %>
            <div class="alert alert-danger" role="alert"><%= error %></div>
        <% } %>
        <% if(success && success.length > 0) { %>
            <div class="alert alert-success" role="alert"><%= success %></div>
        <% } %>
        <% if(confirm && confirm.length > 0) { %>
            <div class="alert alert-warning" role="alert"><%= confirm %></div>
        <% } %>
</div>