<% include ./partials/header %>

    <section>
        <div class="trainHeadings">
            <h1 class="hidden-xs hidden-sm">RaiLocate - Fast, Reliable Train Information!</h1>
            <h3 class="hidden-md hidden-lg">Enter Your Journey Details Below:</h3>
        </div>

        <div class="container">
            <div class="form-group trainSearch">
                <form action="/trains" method="POST" autocomplete="off">
                    <!-- FROM -->
                    <input type="text" id="ajax" class="findStation form-control" name="departing"
                        placeholder="From station" autocomplete="off" />

                    <!-- TO -->
                    <input type="text" id="ajax2" class="findStation form-control" name="destination"
                        placeholder="To station" autocomplete="off" />

                    <input id="findButton" class="form-control" type="submit" value="Find Trains!" />
                </form>
            </div>
        </div>
    </section>

    <div class="container">
        <div class="row">
            <div class="NRE">
                <img class="img-reponsive" src="images/NRE_Powered_logo.png" alt="Powered By National Rail Enquiries" />
            </div>
        </div>
    </div>

    <!-- jQuery UI (only include if not already in your layout) -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.3/themes/base/jquery-ui.css" />
    <script src="https://code.jquery.com/ui/1.13.3/jquery-ui.min.js"></script>

    <!-- Our initializer that loads /javascripts/railRef.json and binds autocomplete -->
    <script src="/javascripts/autocomplete.js"></script>

    <% include ./partials/footer %>