body  {
    font-family: 'Raleway', sans-serif  !important;
}

.navbar {
    height: 50px;
    color: #ffffff;
}

.navbar-brand {
    padding: 5px 15px 5px 15px;
}

a.navbar-brand em {
    color: #ff0000;
}

.fa-train {
    color: #003366;
    padding: 0;
}

.trainHeadings, .trainSearch {
    display: flex;
    width: 60%;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px auto;
}

.trainSearch input {
    margin: 10px auto;
}

.trainSearch input placeholder {
    text-align: center;
}

.NRE, .circle {
    display: flex;
    margin: 20px auto;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}
.circle {
    height: 100px;
    flex-direction: column;
    background-color: #003355;
    color: #ffffff;
    border-radius: 50%;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    padding: 0;
}


.departureBoard {
    display: flex;
    background-color: #cfcfcf;
    color: #000000;
    flex-direction: row;
    padding: 0;
    margin: 0;

}

.departureBoard  {
    width: 100%;  
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: 7px 7px 7px #c3c3c3;
}


.departureBoard th, tr, td {
    font-family: Helvetica, sans-serif;
	text-align: center;
	height: 50px;
    padding-left: 15px;
    padding-right: 15px;
}


.departureBoard tr:nth-of-type(even) {
    background-color: #fff;
}

.departureBoard tr:first-of-type {
    background-color: #003355;
    border-top-left-radius: 20px;
    height: 30px;
    color: #ffffff;
}
.departureBoard tr th:nth-of-type(1){
    
    border-top-left-radius: 20px;
}

.departureBoard tr th:nth-of-type(4){
    border-top-right-radius: 20px;
}

.departureBoard th:nth-child(4), .departureBoard  tr td:nth-child(4) {
    width: 100%;
    text-align: left;
}





.form-control::-webkit-input-placeholder {color: #555; text-align: center;}
.form-control::-webkit-input-placeholder {color: #555; text-align: center;}  /* WebKit, Blink, Edge */
.form-control:-moz-placeholder {color: #555; text-align: center;}  /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder {color: #555; text-align: center;}  /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder {color: #555; text-align: center;}  /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder {color: #555; text-align: center;}  /* Microsoft Edge */