body  {
    font-family: 'Raleway', sans-serif  !important;
}

.navbar {
    height: 70px;
    color: #ffffff;
}

.navbar-brand {
    color: #ff0000    !important;
}

.fa-train {
    color: #003366;
}

.trainHeadings, .trainSearch {
    display: flex;
    width: 60%;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px auto;
}

.trainSearch input {
    margin: 10px auto;
}

.trainSearch input placeholder {
    text-align: center;
}

.NRE, .circle {
    display: flex;
    width: 100%;
    margin: 20px auto;
    flex-direction: row;
    justify-content: space-around;
}
.circle {
    height: 100px;
    flex-direction: column;
    background-color: #003355;
    color: #ffffff;
    border-radius: 50%;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}

.departureBoard {
    display: flex;
    background-color: #cfcfcf;
    color: #000000;
    flex-direction: column;
    border-radius: 10px;
}

.departureBoard table {
    margin-bottom: 20px;
}

.departureBoard th, tr, td {

    font-family: Helvetica, sans-serif;
	text-align: center;
	padding: 15px;
}

.departureBoard table th:nth-child(4), .departureboard table tr td:nth-child(4) {
    text-align: left;
}





.form-control::-webkit-input-placeholder {color: #555; text-align: center;}
.form-control::-webkit-input-placeholder {color: #555; text-align: center;}  /* WebKit, Blink, Edge */
.form-control:-moz-placeholder {color: #555; text-align: center;}  /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder {color: #555; text-align: center;}  /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder {color: #555; text-align: center;}  /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder {color: #555; text-align: center;}  /* Microsoft Edge */