body  {
    font-family: 'Raleway', sans-serif  !important;
}

/*Navigation header styling*/

.navbar {
    height: 50px;
    color: #ffffff;
}

.navbar-brand {
    padding: 5px 15px 5px 15px;
}

a.navbar-brand em {
    color: #ff0000;
}

.fa-train {
    color: #003366;
    padding: 0;
}

/*Search page styling*/

.trainHeadings, .trainSearch {
    display: flex;
    width: 60%;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px auto;
}

.trainSearch input {
    margin: 10px auto;
}

.trainSearch input placeholder {
    text-align: center;
}

.form-control::-webkit-input-placeholder {color: #555; text-align: center;}
.form-control::-webkit-input-placeholder {color: #555; text-align: center;}  /* WebKit, Blink, Edge */
.form-control:-moz-placeholder {color: #555; text-align: center;}  /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder {color: #555; text-align: center;}  /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder {color: #555; text-align: center;}  /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder {color: #555; text-align: center;}  /* Microsoft Edge */

/*Results page styling*/

.NRE, .circle {
    display: flex;
    margin: 20px auto;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}

.buffer {
    padding: 0;
    margin: 0;
}
.circle {
    height: 100px;
    flex-direction: column;
    background-color: #003355;
    color: #ffffff;
    border-radius: 50%;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    padding: 0;
}

/* Results page - departure and delay boards styling*/

.departureBoard {
    display: flex;
    background-color: #cfcfcf;
    color: #000000;
    flex-direction: row;
    width: 100%;  
    margin-bottom: 20px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 7px 7px 7px #c3c3c3;
    padding: 0;
    margin: 0;
}

.departureBoard tbody {
    width: 100%;
}

.departureBoard th, tr, td {
    font-family: Helvetica, sans-serif;
	text-align: center;
	height: 50px;
    padding-left: 15px;
    padding-right: 15px;
}

.departureBoard tr:nth-of-type(even) {
    background-color: #fff;
}

.departureBoard tr:first-child {
    background-color: #003355;
    height: 30px;
    color: #ffffff;
}

.departureBoard th:nth-child(4), .departureBoard  tr td:nth-child(4) {
    width: 100%;
    text-align: left;
}

.delayBoard {

    display: flex;
    width: 400px;
    background-color: #cfcfcf;
    color: #000000;
    flex-direction: row;
    margin-bottom: 20px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 7px 7px 7px #c3c3c3;
    padding: 0;
    margin: 0;
    height: 100px;
    transform: translateY(50px);
}

.delayBoard tbody {
    width: 100%;
}

.delayBoard th, tr, td {

    font-family: Helvetica, sans-serif;
	text-align: center;
    width: 400px;
}

.delayBoard tr:first-child {
    background-color: orange;
    height: 30px;
    width: 400px;
    color: #ffffff;
    padding: 5px;
}



